body{
  background-color: #e7eeed;
}

#header{
  background-image: url(../img/header-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  border-radius:5px;
}

.btn-outline-kontol{
  border-color:#ff7920;
  color: #ff7920;
}

.btn-outline-kontol:hover{
  background-color: #ff7920;
  color: white;
  transition: 0.5s;
}

.navbar{
  background:transparent !important;
}

.nav-menu{
  color: white !important;
  margin-right: 20px;
  text-decoration: none !important;
}

a:hover{
  color: #D2691E !important;
  transition: 0.5s;
}

.menyu{
  background-image: url(../img/bg.png);
}

.section-1{
  color: #fff;
  text-align: center;
}

.section-2{
  color: #212529;
  text-align: center;
}

#image-section-1{
  width: 100%;
}


#image-section-2{
  margin-top:10%;
  width: 100%;
}

.parallax {
  /* The image used */
  background-image: url("../img/header-index.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.menu{
  color:#ff771b;
}

label{
  color: #4f494b;
}

.text-footer{
  color: #4f494b;
}



footer{
  background-color: #b17943;
}

