body{
  background-image: url(../img/bg.png);
}

#header{
  background-image: url(../img/header-index.jpg);
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar{
  background:transparent !important;
}

.nav-menu{
  color: white !important;
  margin-right: 20px;
  text-decoration: none !important;
}

a:hover{
  color: #D2691E !important;
  transition: 0.5s;
}

html {
  position: relative;
  min-height: 100%;
}

.jumbotron {
  background-image: url("../img/page-header.png");
  background-size: 100% 100%;
  color: #b0bec5;
  margin-bottom: 0;
}


.right{
	text-align: right;
}

h1{
	text-align: center;
}

h5{
	color: #c6e4e6;
}

h3{
	text-align: center;
}

h4{
  text-align: center;
  margin-bottom: -2px;
}

p{
  text-align: center;
}

a{
  color: #000 !important;
}
a:hover {
  color: #ff4e00 !important;
  text-decoration: none;
  transition: color 0.5s; /* For modern browsers */
}
.section-1{
  color: #fff;
  text-align: center;
}
.image{
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  color: #ff4e00;
  background-color: #ff4e00;
  width: 20%;
  height: 2px;
  margin-top:-10px;
}

input{
  margin: auto;
}

button:hover {
  background-color: #ff4e00 !important;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s; /* For modern browsers */
  transition: background-color 0.5s; /* For modern browsers */

}