#header{
  background-image: url(../img/header-index.jpg);
  margin-bottom: 50px;
}

.navbar{
  background:transparent !important;
}

.nav-link{
  color: white !important;
  margin-right: 10px;
}

.section-1{
  color: #fff;
  text-align: center;
}

.section-2{
  color: #000;
  text-align: center;
}

#image-section-1{
  width: 100%;
}

#image-section-2{
  margin-top:10%;
  width: 100%;
}

.parallax {
  /* The image used */
  background-image: url("../img/header-index.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}